.wholePage {
    background-image: url(https://global-uploads.webflow.com/5abbad22c827a6c539291c8e/5abbafbf60e6007f01d1df24_Background-Paper-Repeat-Body-No-Paper-02c.jpg);
}

.pageContainer {
    width: 78%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.centerText {
    text-align: center;
}

.leftText {
    text-align: center;
    font-size: 20px;
}

.caloriesBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 3px solid brown;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
    padding: 0.25em;
    background-color: white;
}

/* Attempting to change TextField focused label color */
.MuiInputLabel-root.Mui-focused {
    color: black;
}

/* Attempted to change Textfield focused outline color */
.MuiOutlinedInput-root.Mui-focused {
    color: black;
}

