footer {
  text-align: center;
  font-size: 12px;
}

.footerBox {
  border: 3px solid brown;
  margin-top: 30px;
  padding: 8px;
  width: 8em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
