.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 0px;
  background-image: url(./barrel_image.jpg);
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 32px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
  text-align: center;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-image: url(./barrel_image.jpg);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  color: #FA7F43;
}

.nav-title:hover {
  color: #FA7F43;
}