.calendarDisp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid brown;
}

.chartDisp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chartBox {
    position: relative;
    margin: auto;
    height: 46vh;
    width: 66vw;
    background-color: white;
    border: 3px solid brown;
}

.pageContainer {
    width: 78%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.buttonDiv {
    text-align: center;
}

.calContainer {
    margin-bottom: 1em;
    
}

.wholePage {
    background-image: url(https://global-uploads.webflow.com/5abbad22c827a6c539291c8e/5abbafbf60e6007f01d1df24_Background-Paper-Repeat-Body-No-Paper-02c.jpg);
}

