.calendarDisp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chartDisp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chartBox {
    position: relative;
    margin: auto;
    height: 66vh;
    width: 66vw;
}