.pageContainer {
    width: 78%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.Right {
    /* Code to mirror an image over the y axis */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
}

.text-Space {
    border: 3px solid brown;
    height: auto;
    background-color: white;
}

.text-Space h3 {
    text-align: center;
}

.text-Space li {
    letter-spacing: 1px;
    line-height: 1.5;
}

.image-thumbnail {
    max-height: 350px;
    width: auto;
}